<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="manifest" href="./../../manifest%20(1).json">
  <link rel="shortcut icon" href="./../../favicon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="basement">
    <div class="social">
      <ul class="social-list">
        <li><a href=""><img class="social-icon" src="./../../images/social-icons/facebook.png" alt=""></a></li>
        <li><a href=""><img class="social-icon" src="./../../images/social-icons/twitter.png" alt=""></a></li>
        <li><a href=""><img class="social-icon" src="./../../images/social-icons/youtube.png" alt=""></a></li>
        <li><a href=""><img class="social-icon" src="./../../images/social-icons/pinterest.png" alt=""></a></li>
        <li><a href=""><img class="social-icon" src="./../../images/social-icons/instagram.png" alt=""></a></li>
      </ul>
    </div>
    <div class="contacts">
      <p>Ivanov Ivan Ivanovich</p>
      <p>ul. Sovetskaya 137</p>
      <p>tel: +375(29)5822455</p>
    </div>
  </div>
</body>
</html>