@import url('components/button_gallery.css');
@import url('request.css');
@import url('components/footer.css');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');



body {
    margin: 0;
    background: whitesmoke url("http://oboi-dlja-stola.ru/file/16039/760x0/16:9/%D0%97%D0%BE%D0%BB%D0%BE%D1%82%D0%BE%D0%B5-%D0%BF%D0%BE%D0%BB%D0%B5-4.jpg") no-repeat;
    position: relative;
    background-size: 100vw 100vh;
    background-attachment: fixed ;
}

.header {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 20em;
}

.navigation {
    margin: 0 auto;
    padding: 0;
    height: 4em;
    line-height: 4em;
    text-align: center;
}

.navigation-item {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

.navigation-link {
    text-decoration-line: none;
    padding: 0.5em;
    margin: 0.5em;
    border: 0 solid white;
    width: auto;
    font-weight: bolder;
    color: snow;
    font-size: 1.2em;
}

.button-wrapper-right {
    display: inline-block;
    top: 20vh;
    right: 20vw;
}

.button-wrapper-left {
    display: inline-block;
    top: 20vh;
    left: 20vw;
}

.button-wrapper-right.show {
    display: none;
}

.button-wrapper-left.show {
    display: none;
}


.form-input {
    display: none;
}

.form-input.visible {
    position: absolute;
    top: 5em;
    width: 100%;
    display: block;
}


.text-wrapper{
    width: 85%;
    margin: 0 auto 5em;
    border-radius: 1.872em;
    color: snow;
    background: rgba(0, 0, 0, 0.62);
}

.text{
    box-sizing: border-box;
    padding: 2em 0;
    margin: 0 auto;
    width: 95%;
    font-family: sans-serif;
    text-indent: 1em; /*красн строка*/

}

li > a:hover {
    border-bottom: 0.05em solid blue;
    border-radius: 1.872em;
    cursor: default;
    font-weight: bolder;

}

li > a:active, :focus {
    /*color: saddlebrown;*/
    font-size: 1.02em;
    border-bottom: 0.05em solid saddlebrown;
    font-weight: bolder;
}

@media (max-width: 35em) {
    .button-wrapper-right {
        top: 20vh;
        right: 5vw;
    }

    .button-wrapper-left {
        top: 20vh;
        left: 5vw;
    }

    .user-wrapper {
        width: 85%;
        z-index: 100;
    }
}