<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Button</title>
  <link rel="stylesheet" href="../../styles/components/button_gallery.css">
  <link rel="manifest" href="./../../manifest%20(1).json">
  <link rel="shortcut icon" href="./../../favicon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="button-wrapper">
        <a href="#"
           class="btn-link"
           tabindex="1">Галерея
        </a>
  </div>
</body>
</html>







